# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\domiaCode\module 2\Operators\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
